doctype html
html
  head
    title= title
    <style type="text/css" media="print">@page {size: auto;margin: 0;}</style>
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

  body(id='cuerpo')
  <img class="responsive-img" src="images/membrete.jpg" style="width: 1020px; height: auto;"/>
    div(class="container")
      
      block content
        
    if logout
      script(type='text/javascript').
        localStorage.sessionToken = ''
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/materialize.min.js')
  block script