extends layout
block nav
  <ul class="right hide-on-med-and-down">
  <li><a href="/create">Crear Registro</a></li>
  <li><a href="/search">Buscar Registro</a></li>
  <li><a class="light-blue accent-4 waves-effect waves-light btn" id="bt-logout">Exit</a></li>
  </ul>
  <ul class="left hide-on-large-only">
    <li><a href="javascript:void(0)" id="bt-menu"><i class="material-icons">menu</i></a></li>
  </ul>
  <ul class="right hide-on-large-only">
  <li><a href="javascript:void(0)" id="bt-mov-logout"><i class="material-icons">exit_to_app</i></a></li>
  </ul>
